In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt
from keras import layers as L
from keras import Input
from keras import Model
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.utils import to_categorical

In [38]:
df = pd.read_csv("../data/people_data.csv")
df = df.drop("img_name",axis=1)
df["pixels"] = df["pixels"].apply(lambda x: np.array(x.split(),dtype="float32"))
df["pixels"] = df["pixels"] / 255
df.tail()

,age,ethnicity,gender,pixels
23700,99,0,1,"[0.49803922, 0.39215687, 0.36862746, 0.3176470..."
23701,99,1,1,"[0.09019608, 0.10980392, 0.1254902, 0.13725491..."
23702,99,2,1,"[0.23137255, 0.19607843, 0.14509805, 0.1568627..."
23703,99,2,1,"[0.1764706, 0.42352942, 0.47058824, 0.6117647,..."
23704,99,0,1,"[0.6117647, 0.6313726, 0.627451, 0.64705884, 0..."

In [39]:
x_train = np.zeros(shape=(23705,2304))

for indexing in range(len(df["pixels"])):
    x_train[indexing] = df["pixels"][indexing]

x_train = x_train.reshape(-1,48,48,1)

Single Image Shape:
(2304,)
Total Shape:
(23705,)