### Experimentation Notebook

In [8]:
# Load data

import numpy
import pandas as pd

df = pd.read_csv("../data/people_data.csv")

df.head()

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...

In [30]:
# Display values by age

pd.set_option('display.max_rows', None)
df['age'].value_counts(sort=True, ascending=False)

age
26     2197
1      1123
28      918
35      880
24      859
25      734
30      724
32      664
27      615
29      570
40      526
36      483
2       482
45      440
23      426
34      409
22      395
50      381
54      353
31      350
21      346
38      325
37      293
60      293
3       289
20      284
4       273
58      271
55      268
42      266
39      265
8       263
18      262
65      259
16      247
53      241
56      236
52      232
5       196
15      177
47      170
9       166
61      159
17      158
14      157
43      157
10      156
85      155
46      153
48      153
75      148
49      148
70      147
33      143
7       139
51      138
80      133
41      132
6       131
12      130
62      125
63      103
68      100
44      100
19       98
72       98
57       97
67       94
59       82
90       82
13       81
66       77
78       69
11       65
73       63
76       58
69       56
64       50
82       40
86       35
88       34
71       33
89       33
74       32
77       28
84       24
79       23
81       22
83       18
96       17
92       13
100      11
87       10
99        9
95        9
110       5
93        5
105       5
116       4
115       3
101       2
91        2
111       1
103       1
Name: count, dtype: int64

In [32]:
# Show male and female count by age

import matplotlib as plt

df['gender'] = df['gender'].replace({0: 'Male', 1: 'Female'})
df.groupby(['age', 'gender']).size().unstack(fill_value=0)

gender  Female  Male
age
1          478   645
2          254   228
3          192    97
4          165   108
5          118    78
6          102    29
7           80    59
8          196    67
9           30   136
10          65    91
11          39    26
12          87    43
13          43    38
14          82    75
15          94    83
16         114   133
17          83    75
18         185    77
19          58    40
20         185    99
21         227   119
22         260   135
23         286   140
24         595   264
25         446   288
26        1242   955
27         316   299
28         440   478
29         285   285
30         377   347
31         180   170
32         334   330
33          81    62
34         156   253
35         343   537
36         195   288
37         111   182
38         163   162
39         119   146
40         180   346
41          45    87
42          94   172
43          55   102
44          30    70
45         107   333
46          54    99
47          44   126
48          48   105
49          69    79
50          98   283
51          41    97
52          63   169
53          97   144
54          84   269
55          57   211
56          99   137
57          34    63
58          42   229
59          25    57
60         128   165
61          38   121
62          39    86
63          25    78
64          16    34
65          88   171
66          43    34
67          28    66
68          30    70
69          37    19
70          50    97
71          14    19
72          48    50
73          28    35
74          12    20
75          39   109
76          26    32
77          14    14
78          18    51
79          10    13
80          54    79
81          15     7
82          13    27
83          10     8
84          22     2
85         115    40
86          21    14
87           6     4
88          24    10
89          21    12
90          35    47
91           1     1
92          10     3
93           5     0
95           9     0
96          17     0
99           8     1
100          9     2
101          1     1
103          0     1
105          4     1
110          3     2
111          1     0
115          3     0
116          4     0